<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../static/mainpage.css" />
  </head>
  <body>
    <div class="top">
      <div class="main-image">
        <img src="../static/대표 로고.png" alt="" />
      </div>
      <div class="menu">
        <div id="f1">
          <a href=""
            ><img src="../static/설정 바.png" alt="3line" width="50px"
          /></a>
        </div>
        <div id="f2">
          <!-- 개인정보  -->
          <a href=""
            ><img src="../static/개인설정.png" alt="개인정보" width="40px"
          /></a>
        </div>
        <div id="f3">
          <!-- 로그아웃e -->
          <a href=""
            ><img src="../static/로그아웃.png" alt="" width="40px"
          /></a>
        </div>
        <div id="f4">
          <!-- 제거 할 부분 -->
          <a href=""
            ><img src="../static/문의.png" alt="로그아웃" width="40px"
          /></a>
        </div>
      </div>
    </div>
    <div class="nav-bar">
      <nav>
        <a href="#">홈 화면</a>
        <a href="/lists/game/1">게임 게시판</a>
        <a href="/lists/music/1">음악 게시판</a>
        <a href="/lists/japan/1">일본 게시판</a>
        <a href="/lists/computer/1">학업 게시판</a>
        <a href="#">잡담 게시판</a>
      </nav>
    </div>
    <div class="text">
      <h2 id="name"></h2>
    </div>
    <script src="../static/mainpage.js"></script>
  </body>
</html>
