<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/create_post" method="post">
        title: <input type="text" name="title"> <br>
        article: <textarea name="article" rows="5" cols="30"></textarea>
        <button>submmit</button>
    </form>
    <br>
    <form action="/lists" method="get">
        <button>go to geshiphan</button>
    </form>
</body>
</html>